{
"domain": "consul.",
"data_dir": "{{ consul_data_dir }}",
"log_level": "INFO",
"node_name": "{{ node_name }}",
{% if server_mode %}"server": true,
"bootstrap_expect": {{ bootstrap_expect_value }},
{%endif  %}
{% if join_list is not none  %}"retry_join": [{{ join_list }}], {% endif %}
{% if bind_address is defined %}"bind_addr": "{{ bind_addr }}", {% endif %}
{% if retry_interval is defined %}"retry_interval": "{{retry_interval}}", {% endif %}
"datacenter": "{{datacenter}}",
"rejoin_after_leave": true
}
